<!doctype html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pollar</title>
    <!--Socket IO-->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <!--CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--D3 Graphing-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
        integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        #chart {
            margin: 0px;
            height: 60vh;
            /* responsive */
            width: 100%;
            overflow: hidden;
        }

        svg {
            width: 100%;
            height: 100%;
            display: block;
        }

        .bar {
            fill: gray;
            margin: 2px;
        }
    </style>

</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="d-flex justify-content-center">
            <div class="col-4 pt-1"></div>
            <div class="col-4 text-center">
                <a class="fs-4 text-body-emphasis text-decoration-none" href="#"><b>Pollar</b>Bear</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="https://github.com/bearz314/pollar"
                    target="_blank">GitHub</a>
            </div>
        </div>
    </header>

    <main>
        <div id="hero" class="px-4 py-5 my-5 text-center">
            <h1 id="hero-emoji" class="display-1 d-block mx-auto mb-4">👀</h1>
            <h1 id="hero-title" class="display-5 fw-bold text-body-emphasis mb-4">JavaScript not enabled</h1>
            <div class="col-lg-6 mx-auto">
                <p id="hero-subtext" class="lead mb-4">Pollar will only function as intended with JavaScript.</p>
            </div>
        </div>

        <div id="poll">
            <h1 id="question" class="mx-5"></h1>
            <form>
                <div id="listGroup" class="list-group list-group-horizontal-xxl m-5">
                    <!-- Radio buttons will be dynamically inserted here -->
                    <!--<label class="list-group-item d-flex gap-3 p-3">
                        <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
                            id="listGroupRadios1" value="" checked>
                        <span>
                            First radio
                        </span>
                    </label>-->
                    <button id="submit_response" type="button" onclick="vote();"
                        class="btn btn-primary btn-lg btn-block justify-content-center p-3">
                        👍
                        <span style="font-weight: bold;margin-left: 0.5rem;">Submit</span>
                    </button>
                </div>
                <div class="d-grid m-5">
                    <button id="edit_response" type="button" onclick="voted_state=false;socket.emit('getstate');"
                        class="btn btn-primary btn-lg btn-block justify-content-center p-3">
                        🖊️
                        <span style="font-weight: bold;margin-left: 0.5rem;">Edit</span>
                    </button>
                </div>
                
            </form>

            <div id="chart"></div>
            <div id="results" class="m-5" style="display:none;">
                <h2>Results</h2>
                <div id="resultText"></div>

            </div>
            <div id="final_results" class="m-5" style="display:none;">
                <h2>Answers</h2>
                <div id="poll-container"></div>
            </div>
        </div>
    </main>



    <script>
        const socket = io('http://127.0.0.1:5000');

        let voted_state = false;
        let voted_poll_token_state = "";

        function show_offline() {
            document.getElementById('hero-emoji').innerText = '😌';
            document.getElementById('hero-title').innerText = 'Class is not running';
            document.getElementById('hero-subtext').innerText = "It's a great time to catch up on some snooze...";
            document.getElementById('hero').style.display = 'block';
            document.getElementById('poll').style.display = 'none';
        }
        function show_startingsoon() {
            document.getElementById('hero-emoji').innerText = '🫨';
            document.getElementById('hero-title').innerText = 'Class is starting soon';
            document.getElementById('hero-subtext').innerText = 'Brace yourself, knowledge is coming!';
            document.getElementById('hero').style.display = 'block';
            document.getElementById('poll').style.display = 'none';
        }
        function show_poll() {
            document.getElementById('hero').style.display = 'none';
            document.getElementById('poll').style.display = 'block';
            document.getElementById('chart').style.display = 'none';
            document.getElementById('submit_response').style.display = 'block';
            document.getElementById('edit_response').style.display = 'none';
            document.getElementById('chart').style.display = 'none';
        }
        function UI_clear() {
            document.getElementById('question').textContent = '';
            document.getElementById('results').style.display = 'none';
            document.getElementById('final_results').style.display = 'none';
            document.getElementById('submit_response').style.display = 'none';
            document.getElementById('edit_response').style.display = 'none';
            document.getElementById('chart').style.display = 'none';
            // options: remove older ones - backwards to reduce node removal complexities
            let radios = document.querySelectorAll('input[type="radio"][name="listGroupRadios"]');
            for (let i = radios.length - 1; i >= 0; i--) {
                let radio = radios[i];
                let elementToRemove = radio.closest('label') || radio;
                elementToRemove.parentNode.removeChild(elementToRemove);
            }
        }
        function UI_show_votes(data) {
            UI_clear();
            document.getElementById('resultText').innerHTML = data.anonymised_votes;
            document.getElementById('results').style.display = 'block';
            document.getElementById('submit_response').style.display = 'none';
            document.getElementById('edit_response').style.display = 'none';
            document.getElementById('chart').style.display = 'block';
            if (data.response_editable && data.state == 'POLL_OPENS') {
                document.getElementById('edit_response').style.display = 'block';
            }
            updateChart(data.anonymised_votes);
        }

        socket.on('connect', function () {
            // on connect, expected events 'myvote' followed by 'update'. The below will run only after.
            console.log('Websocket now on standby');
        });

        socket.on('disconnect', function () {
            UI_clear();
            show_offline();
            console.log('Disconnected');
        });

        socket.on('invalid', function (data) {
            console.log('Invalid request:');
            console.log(data);
        });

        socket.on('myvote', function (data) {
            voted_state = data.voted;
            voted_poll_token_state = data.voted_poll_token;
            // data.myvote unused for now
            if (voted_state) {
                console.log(`myvote: Restored voted state for poll token ${voted_poll_token_state}`);
            }
        });

        socket.on('update', function (data) {

            console.log('Update:');
            console.log(data);

            switch (data.state) {
                case 'NOT_RUNNING':
                    // Show nothing
                    show_offline();
                    break;
                case 'STARTING_SOON':
                    // Show nothing
                    show_startingsoon();
                    break;
                case 'POLL_OPENS':
                    show_poll();
                    if (voted_poll_token_state !== data.poll_token) {
                        voted_state = false;
                    }
                    if (voted_state) {
                        // Show question/votes
                        console.log("Poll already voted.")
                        UI_show_votes(data);
                    } else {
                        // Show question/options
                        document.getElementById('question').textContent = data.question;
                        // options: generate radio buttons
                        const listGroup = document.getElementById('listGroup');
                        data.options.forEach((option, index) => {
                            // Create the label that will contain the radio input and the text
                            const label = document.createElement('label');
                            label.className = 'list-group-item d-flex gap-3 p-3';

                            // Create the radio input
                            const input = document.createElement('input');
                            input.className = 'form-check-input flex-shrink-0';
                            input.type = 'radio';
                            input.name = 'listGroupRadios';
                            input.value = option;
                            // Check the first radio button
                            if (index === 0) {
                                input.checked = true;
                            }
                            input.setAttribute('data-index', index);
                            input.setAttribute('data-pollToken', data.poll_token);

                            // Create the span that will contain the option text
                            const span = document.createElement('span');
                            span.textContent = option;

                            // Append the radio input and the text span to the label
                            label.appendChild(input);
                            label.appendChild(span);

                            // Insert the label before the submit button
                            listGroup.insertBefore(label, listGroup.children[listGroup.children.length - 1]);
                        });
                        
                        document.getElementById('results').style.display = 'none';
                        document.getElementById('final_results').style.display = 'none';
                    }
                    break;
                case 'POLL_CLOSES':
                    // Show question/votes
                    show_poll();
                    UI_show_votes(data);
                    break;
                case 'POLL_ANSWER':
                    // Show question/options+votes/answer
                    show_poll();
                    UI_show_votes(data);
                    document.getElementById('question').textContent = data.question;

                    var pollContainer = document.getElementById('poll-container');
                    pollContainer.innerHTML = '';

                    // Iterate through the anonymised options index to create sorted list
                    data.anonymised_options_idx.forEach(function(index, position) {
                        // Create an element for the option
                        var optionElement = document.createElement('div');

                        // Add the option text
                        optionElement.textContent = data.options[index];

                        // Check if this is the correct answer
                        if (index === data.correct_answer) {
                            optionElement.textContent += " (correct)";
                            optionElement.style.fontWeight = 'bold';  // Optionally style the correct answer
                        }

                        // Append the option element to the container
                        pollContainer.appendChild(optionElement);
                    });


                    document.getElementById('final_results').style.display = 'block';
                    document.getElementById('results').style.display = 'none';
                    break;
            }
        });

        function vote() {
            let radios = document.querySelectorAll('input[type="radio"][name="listGroupRadios"]');
            for (const radio of radios) {
                if (radio.checked) {
                    let optionIndex = parseInt(radio.getAttribute('data-index'));
                    let pollToken = parseInt(radio.getAttribute('data-pollToken'));

                    voted_state = true;
                    voted_poll_token_state = pollToken;
                    socket.emit('vote', { poll_token: pollToken, option_index: optionIndex });
                    // expects 'update' event
                    console.log(`Voted ${optionIndex} with token ${pollToken}!`);
                    return;
                }
            };
            // should not end up here
            console.log("Vote failed")

        }




        // Function to get the dynamic width and height
        function getChartDimensions() {
            const chartDiv = document.getElementById('chart');
            return {
                width: chartDiv.clientWidth,
                height: chartDiv.clientHeight
            };
        }



        // Create the SVG element with dynamic viewBox
        const chartMargin = { top: 20, right: 30, bottom: 10, left: 30 };
        let svg = d3.select("#chart").append("svg");
        let chartGroup = svg.append("g")
            .attr("transform", `translate(${chartMargin.left},${chartMargin.top})`);

        // Function to update the bar chart with new data
        function updateChart(values) {
            // constants
            const transitionDuration = 750;
            const textPadding = 5;
            const labelYOffset = 4;

            // Graphable area is graph width minus text width
            const chartDimensions = getChartDimensions();

            // Find out the length of the longest text
            let tempTextGroup = svg.append("g").attr("opacity", 0);
            // append temporary text to measure
            let tempTexts = tempTextGroup.selectAll(".temp-text")
                .data(values)
                .enter().append("text")
                .attr("class", "temp-text")
                .attr("x", 0)
                .text(d => d);
            // measure text widths and find the maximum width
            let maxTextWidth = d3.max(tempTexts.nodes(), node => node.getComputedTextLength());
            tempTextGroup.remove();

            // Graphable area for bars (excluding texts)
            const width = chartDimensions.width - chartMargin.left - chartMargin.right - maxTextWidth;
            const height = chartDimensions.height - chartMargin.top - chartMargin.bottom;

            // Update viewBox to new dimensions for responsiveness
            svg.attr("viewBox", `0 0 ${chartDimensions.width} ${chartDimensions.height}`);

            let data = values.map((value, index) => ({ name: index, value }));

            // Sort data according to value
            data.sort((a, b) => d3.descending(a.value, b.value));

            // Update the scales
            const x = d3.scaleLinear()
                .domain([0, d3.max(data, d => d.value)])
                .range([0, width]);

            const y = d3.scaleBand()
                .domain(data.map(d => d.name))
                .range([0, height])
                .padding(0.1);

            // Join the data to rects (bars)
            const bars = chartGroup.selectAll(".bar")
                .data(data, d => d.name);

            bars.enter()
                .append("rect")
                .attr("class", "bar")
                .attr("x", 0)
                .attr("y", d => y(d.name))
                .attr("height", y.bandwidth())
                .merge(bars)
                // animation for all change in state
                .transition().duration(transitionDuration)
                .attr("x", 0)
                .attr("y", d => y(d.name))
                .attr("width", d => x(d.value));

            bars.exit()
                .transition().duration(transitionDuration)
                .attr("width", 0)
                .remove();

            // Join the data to text labels
            const labels = chartGroup.selectAll(".label")
                .data(data, d => d.name);

            labels.enter()
                .append("text")
                .attr("class", "label")
                .attr("x", d => x(d.value) + 5)
                .attr("y", d => y(d.name) + y.bandwidth() / 2 + labelYOffset)
                .text(d => d.value)
                .attr("text-anchor", "start")
                .merge(labels)
                // animation for all change in state
                .transition().duration(750)
                .attr("x", d => x(d.value) + 5)
                .attr("y", d => y(d.name) + y.bandwidth() / 2 + labelYOffset)
                .text(d => d.value);

            labels.exit()
                .transition().duration(750)
                .attr("x", 0)
                .remove();
        }

    </script>
    <!--CSS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>